<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">

    <description>
      Adv Java Ex 
    </description>
    <display-name>Adv Java Ex</display-name>

    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>HelloWorldServlet</servlet-class>
    </servlet>
    <!-- <servlet>
        <servlet-name>Other</servlet-name>
        <servlet-class>Other</servlet-class>
    </servlet> -->

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/01</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>Other</servlet-name>
        <url-pattern>/OtherURL</url-pattern>
    </servlet-mapping> -->

  <session-config>
    <session-timeout>5</session-timeout> <!-- 5 min -->
  </session-config>

</web-app>
